.etabs-tabgroup {
    width: 100%;
    height: 48px;
    background-color: #e7e9ec;
    cursor: default;
    font: caption;
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
}

.etabs-tabs {
    float: left;
}

.etabs-tab {
    margin-top: 6px;
    margin-right: 4px;
    height: 24px;
    padding: 6px 8px 6px;
    position: relative;
    display: none;
    color: #343a3b;
    background: transparent;
    /* background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(204,204,204,1) 100%); */
    font-size: 14px;
    cursor: default;
    border-radius: 48px;
}

.etabs-tabs div:hover {
    /* border-top: 3px solid #8888F8; */
}


.etabs-tab.active {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    /* box-shadow: 1px 2px 4px rgba(94, 94, 94, 0.2); */
    /* border-top: 3px solid #8888F8; */
}
.etabs-tab.active:hover {
    background: #fff;
    /* border-top: 3px solid #8888F8; */
}
.etabs-tab:hover {
    background: rgb(241, 241, 241);
    /* border-top: 3px solid #8888F8; */
}
.etabs-views {
    border-top: 0px solid transparent;
    height: calc(100vh - 48px);
}

.etab-view {
    
}

/* Dragula */
.etabs-tab.gu-mirror {
    padding-bottom: 0;
}

.etabs-tab:first-child {
    border-left: none;
    margin-left: 4px;
}

.etabs-tab.visible {
    display: inline-block;
}



.etabs-tab.flash {
    background: linear-gradient(to bottom, rgb(43, 43, 43) 0%,rgb(37, 37, 37) 100%);
}

.etabs-buttons {
    float: left;
}

.etabs-buttons button {
    /* Add Button */
    float: left;
    color: #5e6367;
    background: none;
    background-color: #fff;
    border: none;
    margin: 8px 0 0 8px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.etabs-buttons button:hover {
    color: #676c70;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.etabs-tab-badge {
    position: absolute;
    right: 0;
    top: -7px;
    background: red;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    padding: 0 5px;
}

.etabs-tab-badge.hidden {
    display: none;
}

.etabs-tab-icon {
    display: inline-block;
    height: 16px;
}

.etabs-tab-icon img {
    max-width: 16px;
    max-height: 16px;
}

.etabs-tab-title {
    display: inline-block;
    margin-left: 10px;
    color: #3e4245;
}

.etabs-tab-buttons {
    display: inline-block;
    margin-left: 10px;
}

.etabs-tab-buttons button {
    /* Close Button */
    display: inline-block;
    color: transparent;
    background: none;
    border: none;
    font-size: 1.3em;
    text-align: center;
    color: #5e6367;
}

.etabs-tab-buttons button:hover {
    color: tomato;
    font-size: 1.3em;
    background-color: transparent;
}

