.etabs-tabgroup {
    width: 100%;
    height: 42px;
    background-color: #E0E0E0;
    cursor: default;
    font: caption;
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
    
}

.etabs-tabs {
    float: left;
}

.etabs-tab {
    height: 28px;
    padding: 6px 8px 4px;
    position: relative;
    display: none;
    border-top: 3px solid transparent;
    color: #333;
    background: transparent;
    /* background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(204,204,204,1) 100%); */
    font-size: 14px;
    cursor: default;
}

.etabs-tabs div:hover {
    border-top: 3px solid #8888F8;
}


.etabs-tab.active {
    background: #fff;
    border-top: 3px solid #8888F8;
}

.etabs-views {
    border-top: 0px solid #aaa;
    height: calc(100vh - 42px);
}

.etab-view {

}

/* Dragula */
.etabs-tab.gu-mirror {
    padding-bottom: 0;
}

.etabs-tab:first-child {
    border-left: none;
    margin-left: 4px;
}

.etabs-tab.visible {
    display: inline-block;
}



.etabs-tab.flash {
    background: linear-gradient(to bottom, rgb(43, 43, 43) 0%,rgb(37, 37, 37) 100%);
}

.etabs-buttons {
    float: left;
}

.etabs-buttons button {
    float: left;
    color: #333;
    background: none;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    margin: 10px 0 0 8px;
    text-align: center;
    padding: 0px 1 0 1;
}

.etabs-buttons button:hover {
    color: black;
    background-color: transparent;
}

.etabs-tab-badge {
    position: absolute;
    right: 0;
    top: -7px;
    background: red;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    padding: 0 5px;
}

.etabs-tab-badge.hidden {
    display: none;
}

.etabs-tab-icon {
    display: inline-block;
    height: 16px;
}

.etabs-tab-icon img {
    max-width: 16px;
    max-height: 16px;
}

.etabs-tab-title {
    display: inline-block;
    margin-left: 10px;
}

.etabs-tab-buttons {
    display: inline-block;
    margin-left: 10px;
}

.etabs-tab-buttons button {
    display: inline-block;
    color: transparent;
    background: none;
    border: none;
    font-size: 1.3em;
    text-align: center;
    color: #333
}

.etabs-tab-buttons button:hover {
    color: tomato;
    font-size: 1.3em;
    background-color: transparent;
}

