div :focus{
    outline: none;
}

.fa{
    color: #0984e3;
}
.etabs-tabgroup {
    width: 100%;
    height: 32px;
    background-color: #2A313B;
    cursor: default;
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
}

.etabs-tabs {
    float: left;
}

.etabs-tab {
    display: none;
    position: relative;
    color: #ccc;
    height: 20px;
    padding: 6px 8px 4px;
    background-color: #2A313B;
    font: caption;
    font-size: 14px;
    cursor: default;
    border-right: 1px solid rgb(106, 125, 160);
    border-bottom: 2px solid transparent;
}

/* Active tab */
.etabs-tab.active {
    color: #333;
    background-color: #fff;
    border-bottom: 2px solid #6c5ce7;
}
/* Dragula */
.etabs-tab.gu-mirror {
    padding-bottom: 0;
}

.etabs-tab:first-child {
    border-left: none;
}

.etabs-tab.visible {
    display: inline-block;
}


.etabs-tab.flash {
    background: linear-gradient(to bottom, rgba(255,243,170,1) 0%,rgba(255,227,37,1) 100%);
}

/* Add tab button */
.etabs-buttons {
    float: left;
}
/* Add tab button */
.etabs-buttons button {
    float: left;
    color: #eee;
    background: none;
    border: none;
    font-size: 14px;
    margin-top: 4px;
    border-radius: 2px;
    margin-left: 4px;
    width: 20px;
    text-align: center;
    padding: 4px 0;
}
/* Add tab button */
.etabs-buttons button:hover {
    color: #333;
    background-color: #aaa;
}

.etabs-tab-badge {
    position: absolute;
    right: 0;
    top: -7px;
    background: red;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    padding: 0 5px;
}

.etabs-tab-badge.hidden {
    display: none;
}

.etabs-tab-icon {
    display: inline-block;
    height: 16px;
}

.etabs-tab-icon img {
    max-width: 16px;
    max-height: 16px;
}
/* tab title */
.etabs-tab-title {
    display: inline-block;
    margin-left: 10px;
}

/* close tab button */
.etabs-tab-buttons {
    display: inline-block;
    margin-left: 10px;
}
/* close tab button */
.etabs-tab-buttons button {
    display: inline-block;
    color: #333;
    background: none;
    border: none;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
}
/* close tab button */
.etabs-tab-buttons button:hover {
    color: #eee;
    background-color: #d63031;
    background: #d63031;
}

.etabs-views {
    border: 1px solid #6c5ce7;;
    height: calc(100vh - 34px);
}

.etab-view {

}
